@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    position: relative;
    background-image: url(../foto/servo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px ;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    background-color: darkgray;
    padding: 10px;
    margin: auto;

}